* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: stretch;
    justify-content: stretch;
}

#shader-canvas {
    background: #d13d1b;
    width: 100vw;
	height: 100vh;
}

